<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>worklion</title>
</head>
<body>
    {% load static %}
    <h1>Write Post</h1>
        <form action="{% url 'post:create' %}" method="POST">
            {% csrf_token %}
            <input type="text" placeholder="제목을 적어주세요." name="title">
            <textarea class="form-control" rows="3" placeholder="내용을 적어주세요." name="content"></textarea>
            <button type="submit" style="float:right">글 작성하기</button>
        </form>
</body>
</html>
